html, body{
    height: 100%;
}
#main-content{
    min-height: calc(100% - 234px);
}
#tree-block{
    position: relative;
    overflow: hidden;
}
#tree{
    position: fixed;
    top: 114px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    max-width: inherit;
    border-bottom: 1px solid #000;
}
#tree>ul{
    flex-grow: 1;
}
#footer{
    border-width: 1px 0 0;
    border-style: solid;
    background-color: #1a1a1a;
    border-color: #e3e3e3;
    margin-top: 24px;
    height: 130px;
}